<h2>Log in to your account</h2>

<form action="/auth/login" method="post">
  <input id="email" type="email" name="email">
  <label for="email">Email</label>
  <input id="password" type="password" name="password">
  <label for="password">Password</label>
  <input id="confirm-password" type="submit" value="submit" >
</form>
