<h2 class="center-align">Claim your free Brewly account!</h2>

<form action="/auth/signup" method="post">
  <input id="first_name" type="text" name="firstname">
  <label for="first_name">First Name</label>
  <input id="last_name" type="text" name="lastname">
  <label for="last_name">Last Name</label>
  <input id="email" type="email" name="email">
  <label for="email">Email</label>
  <input id="password" type="password" name="password">
  <label for="password">Password</label>
  <input id="confirm-password" type="password" name="confirm-password">
  <label for="confirm-password">Confirm Password</label>
  <input id="confirm-password" type="submit" class="btn" value="submit" >
  </div>
</form>
