<h2>Find a new recipe</h2>

<form id="search-form">
  <label for="search">Search for a new beer!</label>
  <input type="text" name="search" id="search" >
  <input type="submit" value="search">
</form>
