<h2><%= currentUser.firstname %>'s Profile</h2>

<div>
  <div>
    <h4>Your Info</h4>
    <p>First Name: <%= currentUser.firstname %></p>
    <p>Last Name: <%= currentUser.lastname %></p>
    <p>Email: <%= currentUser.email %></p>
  </div>
</div>
