<h2><%= currentUser.firstname %>'s Recipes</h2>

<div class="display-card">
<% recipes.forEach(r => { %> 
  <h4 class="recipe"><a href="/profile/recipes/<%= r.id %>"><%= r.name %></a></h4>
<% }); %> 
</div>