<% if(alerts.success) { %>
  <% alerts.success.forEach( msg => { %>
    <div>
      <div>
        <%= msg %>
      </div>
    </div>
  <% }); %>
<% } %>

<% if(alerts.error) { %>
  <% alerts.error.forEach( msg => { %>
    <div>
      <div>
        <%= msg %>
      </div>
    </div>
  <% }); %>
<% } %>
