<nav class="navbar">
  <a class="navbar-logo" href="/">Brewly</a>
  <ul class="navbar-items">
    <% if (currentUser) { %> 
      <li class="nav-item"><a href="/profile">Weclome back, <%= currentUser.firstname %></a></li>
      <li class="nav-item"><a href="/profile/recipes">My Recipes</a></li>
      <li class="nav-item"><a href="/profile/find">Find a Recipe</a></li>
      <li class="nav-item"><a href="/profile/new">Add a Recipe</a></li>
      <li class="nav-item"><a href="/auth/logout">Logout</a></li>
    <% } else { %> 
      <li class="nav-item"><a href="/auth/login">Login</a></li>
      <li class="nav-item"><a href="/auth/signup">Signup</a></li>
    <% } %> 
  </ul>
</nav>
