<nav>
  <div class="nav-wrapper light-green darken-1">
    <a href="/" class="brand-logo">Brewly</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
    </ul>
  </div>
</nav>
