<nav class="navbar">
  <a class="navbar-item logo" href="/">Brewly</a>
  <div class="right-nav">
    <% if (currentUser) { %> 
      <a class="navbar-item" href="/profile/recipes">My Recipes</a>
      <a class="navbar-item" href="/profile/find">Find a Recipe</a>
      <a class="navbar-item" href="/profile/new">Add a Recipe</a>
      <a class="navbar-item" href="/auth/logout">Logout</a>
    <% } else { %> 
      <a class="navbar-item" href="/auth/login">Login</a>
      <a class="navbar-item" href="/auth/signup">Signup</a>
    <% } %> 
  </div>
</nav>
